@font-face {
  font-family: "demo";
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-icon=lianxi]:before {
  font-family: demo;
  content: "\e600";
}
*[data-icon=lianxi][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e600";
}
*[data-icon=lianxi][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=lianxi][icon-pos=right]:after {
  font-family: demo;
  content: "\e600";
}
*[data-icon=lianxi][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=lianxi][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e600";
}
*[data-icon=dianhua]:before {
  font-family: demo;
  content: "\e601";
}
*[data-icon=dianhua][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e601";
}
*[data-icon=dianhua][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=dianhua][icon-pos=right]:after {
  font-family: demo;
  content: "\e601";
}
*[data-icon=dianhua][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=dianhua][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e601";
}
*[data-icon=aboutme]:before {
  font-family: demo;
  content: "\e602";
}
*[data-icon=aboutme][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e602";
}
*[data-icon=aboutme][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=aboutme][icon-pos=right]:after {
  font-family: demo;
  content: "\e602";
}
*[data-icon=aboutme][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=aboutme][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e602";
}
*[data-icon=weixin]:before {
  font-family: demo;
  content: "\e603";
}
*[data-icon=weixin][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e603";
}
*[data-icon=weixin][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=weixin][icon-pos=right]:after {
  font-family: demo;
  content: "\e603";
}
*[data-icon=weixin][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=weixin][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e603";
}
*[data-icon=zuopingzhanshi]:before {
  font-family: demo;
  content: "\e604";
}
*[data-icon=zuopingzhanshi][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e604";
}
*[data-icon=zuopingzhanshi][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=zuopingzhanshi][icon-pos=right]:after {
  font-family: demo;
  content: "\e604";
}
*[data-icon=zuopingzhanshi][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=zuopingzhanshi][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e604";
}
*[data-icon=shouye]:before {
  font-family: demo;
  content: "\e605";
}
*[data-icon=shouye][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e605";
}
*[data-icon=shouye][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shouye][icon-pos=right]:after {
  font-family: demo;
  content: "\e605";
}
*[data-icon=shouye][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shouye][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e605";
}
*[data-icon=ps]:before {
  font-family: demo;
  content: "\e606";
}
*[data-icon=ps][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e606";
}
*[data-icon=ps][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ps][icon-pos=right]:after {
  font-family: demo;
  content: "\e606";
}
*[data-icon=ps][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ps][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e606";
}
*[data-icon=logo]:before {
  font-family: demo;
  content: "\e607";
}
*[data-icon=logo][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e607";
}
*[data-icon=logo][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=logo][icon-pos=right]:after {
  font-family: demo;
  content: "\e607";
}
*[data-icon=logo][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=logo][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e607";
}
*[data-icon=koukou]:before {
  font-family: demo;
  content: "\e608";
}
*[data-icon=koukou][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e608";
}
*[data-icon=koukou][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=koukou][icon-pos=right]:after {
  font-family: demo;
  content: "\e608";
}
*[data-icon=koukou][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=koukou][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e608";
}
*[data-icon=ai]:before {
  font-family: demo;
  content: "\e609";
}
*[data-icon=ai][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e609";
}
*[data-icon=ai][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ai][icon-pos=right]:after {
  font-family: demo;
  content: "\e609";
}
*[data-icon=ai][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ai][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e609";
}
*[data-icon=adress]:before {
  font-family: demo;
  content: "\e60a";
}
*[data-icon=adress][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60a";
}
*[data-icon=adress][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=adress][icon-pos=right]:after {
  font-family: demo;
  content: "\e60a";
}
*[data-icon=adress][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=adress][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60a";
}
*[data-icon=pingmian]:before {
  font-family: demo;
  content: "\e60b";
}
*[data-icon=pingmian][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60b";
}
*[data-icon=pingmian][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=pingmian][icon-pos=right]:after {
  font-family: demo;
  content: "\e60b";
}
*[data-icon=pingmian][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=pingmian][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60b";
}
*[data-icon=close]:before {
  font-family: demo;
  content: "\e613";
}
*[data-icon=close][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e613";
}
*[data-icon=close][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=close][icon-pos=right]:after {
  font-family: demo;
  content: "\e613";
}
*[data-icon=close][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=close][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e613";
}
*[data-icon=wangzhan]:before {
  font-family: demo;
  content: "\e60c";
}
*[data-icon=wangzhan][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60c";
}
*[data-icon=wangzhan][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=wangzhan][icon-pos=right]:after {
  font-family: demo;
  content: "\e60c";
}
*[data-icon=wangzhan][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=wangzhan][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60c";
}
*[data-icon=ps]:before {
  font-family: demo;
  content: "\e60d";
}
*[data-icon=ps][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60d";
}
*[data-icon=ps][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ps][icon-pos=right]:after {
  font-family: demo;
  content: "\e60d";
}
*[data-icon=ps][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ps][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60d";
}
*[data-icon=qita]:before {
  font-family: demo;
  content: "\e60e";
}
*[data-icon=qita][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60e";
}
*[data-icon=qita][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=qita][icon-pos=right]:after {
  font-family: demo;
  content: "\e60e";
}
*[data-icon=qita][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=qita][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60e";
}
*[data-icon=qita2]:before {
  font-family: demo;
  content: "\e60f";
}
*[data-icon=qita2][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60f";
}
*[data-icon=qita2][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=qita2][icon-pos=right]:after {
  font-family: demo;
  content: "\e60f";
}
*[data-icon=qita2][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=qita2][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e60f";
}
*[data-icon=daohang]:before {
  font-family: demo;
  content: "\e614";
}
*[data-icon=daohang][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e614";
}
*[data-icon=daohang][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=daohang][icon-pos=right]:after {
  font-family: demo;
  content: "\e614";
}
*[data-icon=daohang][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=daohang][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e614";
}
*[data-icon=youxiang]:before {
  font-family: demo;
  content: "\e610";
}
*[data-icon=youxiang][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e610";
}
*[data-icon=youxiang][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=youxiang][icon-pos=right]:after {
  font-family: demo;
  content: "\e610";
}
*[data-icon=youxiang][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=youxiang][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e610";
}
*[data-icon=youxi]:before {
  font-family: demo;
  content: "\e611";
}
*[data-icon=youxi][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e611";
}
*[data-icon=youxi][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=youxi][icon-pos=right]:after {
  font-family: demo;
  content: "\e611";
}
*[data-icon=youxi][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=youxi][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e611";
}
*[data-icon=ai2]:before {
  font-family: demo;
  content: "\e612";
}
*[data-icon=ai2][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e612";
}
*[data-icon=ai2][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ai2][icon-pos=right]:after {
  font-family: demo;
  content: "\e612";
}
*[data-icon=ai2][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=ai2][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e612";
}
*[data-icon=shangyibu]:before {
  font-family: demo;
  content: "\e615";
}
*[data-icon=shangyibu][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e615";
}
*[data-icon=shangyibu][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shangyibu][icon-pos=right]:after {
  font-family: demo;
  content: "\e615";
}
*[data-icon=shangyibu][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=shangyibu][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e615";
}
*[data-icon=xiayibu]:before {
  font-family: demo;
  content: "\e616";
}
*[data-icon=xiayibu][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e616";
}
*[data-icon=xiayibu][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-icon=xiayibu][icon-pos=right]:after {
  font-family: demo;
  content: "\e616";
}
*[data-icon=xiayibu][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-icon=xiayibu][icon-pos=bottom]:after {
  display: block;
  font-family: demo;
  content: "\e616";
}
